Five Elements in Learning a Programming Language
===============
This notebook uses Python as an example to demonstrate the learning of five basic elements in any languages. Once familar with these elements, users should be able to start using the language in a meaningful way. The five elements are 
    1. Data types and their operations
    2. Conditional Statement (decision rules)
    3. Loop (repetition)
    4. Input/Output (I/O)
    5. Users defined functions (breaking large code into smaller pieces)
The idea here is not to learn *everything* about the language, but learn enough so that it can be productive for you.

Data Types and their Operations
------------
Most languages usually defined different data types, for example, numerics vs. characters. While the reasons behind this classification are at the core of the language design, from a user perspective, we need to understand the different data types so we can operate on them in a meaningful way.

For examples:

In [1]:
5+6

11

The statement above demonstrates the operator '$+$' between two *numbers* and together it produces the sum operation between the first and the second numbers. The case below demonstrates a different use of the operator '$+$'. In this case, the operator is being applied to two *characters*

In [2]:
'a'+'b'

'ab'

This produces a *concatenation* between two characters, namely 'a' and 'b'. Another example concerns with *lists*

In [3]:
A = [1,2,3,4]
B = [2,3,4,5]
A+B

[1, 2, 3, 4, 2, 3, 4, 5]

Note that the '$+$' does not add the individual elements together, but rather, it joined the two lists together.

It is often possible to introduce more data types. For example, the module *numpy* introduce data types like *vector* and *matrix*. It is often possible to **convert** data types. See an example below.

In [4]:
import numpy as np
NA = np.array(A)
NB = np.array(B)
NA + NB

array([3, 5, 7, 9])

The *np.array* function converts the list into a numpy array. This is a different data type, similar to a *vector*. The point is that when we apply the sum operator between two numpy arrays, the result adds the individual elements together an form a new numpy array. 

This highlights the importance of understanding the different data types of a langauge as well as their associated operations. 

The example below demonstrates that a *string* is just a list (collection) of characters.

In [5]:
S = 'Hello World' #define a string called 'S' and has a value 'Hello World'
Slist = list(S) #'convert' S into a list of its characters.

In [9]:
S[0] == Slist[0] #asking Python if the first element in the string S is the same as the first element in Slist
print(S[5])

To save time, we can check the above more efficiently by

In [11]:
i = 5
S[i] == Slist[i] #asking Python if the i element in the string S is the same as the i element in Slist with i defined above

True

Obviously we can use the function 'map' or list comprehension to make this easier but we will leave this until later.

Conditional Statements
--------
The last example demonstrates a *boolean* type operation, specifically it asks Python to determine if something is true or false. We can extend this to tell Python what to do next in advanced depending on the outcome of a boolean statement. This is generally referred to as *conditional statement*. 

The example below demonstrates a typical 'if-elseif-else' structure.

In [14]:
a = 'go away'
if a is 'Welcome':
    print('Hello')
elif a is 'Bye':
    print('See ya!')
else:
    print('Hanging out?')

Hanging out?

Note that there can be multiple number of scenarios.

In [9]:
if a is 'Welcome':
    print('Hello')
elif a is 'Bye':
    print('See ya!')
elif a is 'hungry':
    print('Would you like something to eat?')
else:
    print('Hanging out?')

Hello

Loop
------
Loop is one of the most powerful concepts in programming and automation. It takes advantage on what computers do best, repetition! There are two general loop structures. The for-loop and while-loop. Let's look at for-loop first. 

Let's say we want to count the number of characters in a string. We can do this by using the **len** function in Python.

In [15]:
sentence = 'Hello World'
len(sentence)

11

Note that the white space is counted as one character. Computers does not understand space. It uses special character for space. 

An alternative to achieve this is to go through the sentence and count the number of character one by one

In [18]:
i = 0 #initiate a variable to count. 
for c in sentence: #go through each character in the string 'sentence'
    i = i + 1 #add 1 to the counter 
    print('Character {0} and count {1}'.format(c,i)) #print the current value of 'c'
print('The total number of characters is {0}'.format(i))

Character H and count 1
Character e and count 2
Character l and count 3
Character l and count 4
Character o and count 5
Character   and count 6
Character W and count 7
Character o and count 8
Character r and count 9
Character l and count 10
Character d and count 11
The total number of characters is 11

The code above can be explained as follows. For each element (character) in the variable *sentence*, we will assign the value of the element into the variable 'c', then we will execute the indented part of the code. Upon finishing the indented code, we then go back to the beginning of the for-loop and change the value of 'c' to the next character in 'sentnece'. We keep doing this until we arrive at the last charcater in 'sentnece'. 

The power loop can be enhanced when we combine it with a conditional statement. For example, we can now count the number of character, excluding white space.

In [12]:
i = 0 #initiate a variable to count. 
for c in sentence: #go through each character in the string 'sentence'
    if c is not ' ': # check if c is a white space. 
        print(c)
        i = i + 1 #add 1 to the counter 
print('The total number of characters is {0}'.format(i))

H
e
l
l
o
W
o
r
l
d
The total number of characters is 10

Another form of loop is the *while* loop. It repears the same operations until a certain condiiton is satisfied. To demonstrate, we repeat our example above using the *while* loop.

In [19]:
length = len(sentence) #get the total length of the string. 
i = 0 #initiate a counter. 
while i < length:
    c = sentence[i] #examine the ith element in the sentence. 
    if c is not ' ':
        print(c)
    i = i + 1 
print('The total number of characters is {0}'.format(i))

H
e
l
l
o
W
o
r
l
d
The total number of characters is 11

A More Practical Example
----------
We will demonstrate loop and conditional statement with a more practical example. 
Let's assume you want to examine how each additional variable may contribute to the $R^2$ of a linear regression model. We can try the following:
    1. Estiamte the benchmark model. 
    2. Record $R^2$. 
    3. Add a variable into the model. 
    4. Restimate the model. 
    5. Record the new $R^2$. 
    6. Remove the new variable and go back to step 3, until we exhausted all variables in the list.

We first import the module that will help us with the data and do the estimation for us.

In [20]:
import pandas as pd #Pandas is a powerful module for data 
import statsmodels as sm #statsmodel is a feature rich module for statistical modelling
import statsmodels.formula.api as smf #This allows R like model specification

We first import data into a Pandas dataframe

In [21]:
m = pd.read_excel('../data/mur.xlsx', header=0, index_col=0)
m

,Index,AGE,LF,M,NW,PC,POP,PX,SOUTH,T,U,URB,W,X,XPOS
State,,,,,,,,,,,,,,,
Alabama,1,0.165999,0.512,19.2523,0.320782,0.203578,8.670,0.035000,1,47,0.042,40.1,1102,0.324932,1
Arkansas,2,0.154263,0.485,7.5286,0.224143,0.326934,3.720,0.080851,1,58,0.047,32.3,920,0.317400,1
Arizona,3,0.152304,0.508,5.6567,0.126838,0.400922,2.120,0.011765,0,82,0.076,36.5,1716,0.302128,1
California,4,0.132523,0.544,3.2094,0.063389,0.317876,66.100,0.070370,0,100,0.079,67.1,2184,0.297032,1
Colorado,5,0.150324,0.524,2.8048,0.021460,0.349780,6.420,0.061538,0,222,0.042,57.4,1748,0.302152,1
Connecticut,6,0.132526,0.567,1.4085,0.027376,0.282964,9.940,0.100000,0,164,0.054,64.1,2255,0.247715,1
Delaware,7,0.138485,0.546,6.1778,0.138979,0.203556,1.290,0.050000,1,161,0.031,46.5,2066,0.270326,1
Florida,8,0.142542,0.527,12.1511,0.218400,0.231630,12.200,0.053846,1,70,0.045,56.5,1431,0.280856,1
Iowa,9,0.142673,0.523,1.3423,0.008213,0.198968,10.400,0.085714,0,219,0.018,46.9,1916,0.295264,1
Idaho,10,0.146452,0.530,3.7062,0.012303,0.137514,1.890,0.000000,0,81,0.055,39.8,1815,0.319505,0
Illinois,11,0.135641,0.554,5.3496,0.076458,0.141610,57.900,0.018182,0,209,0.040,74.5,2335,0.267480,1
Indiana,12,0.144627,0.535,4.7234,0.298842,0.118388,19.300,0.045455,0,182,0.031,56.4,2116,0.287600,1
Kansas,13,0.145649,0.516,3.8090,0.040066,0.206691,7.880,0.040000,0,185,0.025,47.4,1808,0.295736,1
Kentucky,14,0.160966,0.485,10.4411,0.068838,0.188635,7.570,0.044828,1,104,0.036,33.5,1353,0.290363,1
Louisana,15,0.157557,0.493,9.5804,0.330474,0.124469,11.100,0.125000,1,126,0.046,50.8,1259,0.267534,1
Massachusetts,16,0.140735,0.539,1.0156,0.016845,0.209925,31.500,0.060000,0,192,0.058,87.9,2065,0.241085,1
Maryland,17,0.146347,0.557,7.5220,0.165611,0.226962,11.300,0.055000,1,95,0.046,54.4,2044,0.272148,1
Maine,18,0.150017,0.512,1.3094,0.003204,0.167158,3.050,0.000000,0,245,0.088,41.0,1549,0.296350,0
Minnesota,19,0.141215,0.540,1.6721,0.009652,0.120316,14.400,0.000000,0,93,0.035,53.9,1887,0.300971,0
Missouri,20,0.139801,0.522,7.0718,0.075622,0.139453,18.900,0.041026,0,177,0.033,57.4,1682,0.291120,1
Mississipi,21,0.166747,0.511,11.7936,0.454484,0.272403,3.990,0.062857,1,125,0.035,27.6,758,0.304716,1
Montana,22,0.139345,0.540,2.7072,0.032124,0.124998,1.480,0.000000,0,56,0.051,42.8,1956,0.305928,0
North Carolina,23,0.177759,0.550,13.2054,0.265590,0.234902,10.200,0.085714,1,85,0.033,30.5,1293,0.302052,1
Nebraska,24,0.147975,0.529,3.4836,0.018244,0.108282,5.170,0.040000,0,199,0.022,45.8,1809,0.282215,1
New Hampshire,25,0.136333,0.537,0.8070,0.037898,0.671923,2.480,0.000000,0,298,0.066,56.5,1716,0.285512,0
New Jersey,26,0.135722,0.558,2.3161,0.066954,0.357172,26.800,0.030000,0,145,0.051,79.6,2389,0.238399,1
New Mexico,27,0.168465,0.504,3.4709,0.074834,0.592128,2.020,0.028571,0,78,0.054,46.2,1681,0.300745,1
Nevada,28,0.127784,0.588,8.3135,0.063561,0.225419,0.601,0.400000,0,144,0.067,52.5,2294,0.286518,1
New York,29,0.134108,0.545,1.5683,0.064604,0.266575,37.600,0.125806,0,178,0.060,80.2,2337,0.209235,1
Ohio,30,0.138551,0.535,4.1335,0.065236,0.164398,48.600,0.122222,0,146,0.044,66.4,2206,0.282952,1
Oklahoma,31,0.154608,0.488,3.8393,0.089921,0.128286,7.810,0.090909,1,132,0.038,49.6,1416,0.289952,1
Oregon,32,0.132651,0.545,1.8328,0.015916,0.286917,6.550,0.075000,0,98,0.065,48.1,1967,0.322941,1
Pennsylvania,33,0.145805,0.521,3.5360,0.061361,0.210125,54.000,0.069231,0,120,0.054,65.8,2124,0.257392,1
Rhode Island,34,0.152406,0.560,1.1084,0.018792,0.341794,5.410,0.000000,0,148,0.072,88.4,1899,0.245577,0
South Carolina,35,0.175382,0.562,8.8992,0.389047,0.132698,4.050,0.216000,1,123,0.034,28.8,1150,0.320600,1
South Dakota,36,0.154947,0.533,1.2739,0.037130,0.240531,1.570,0.100000,0,282,0.028,33.1,1702,0.295194,1
Tennessee,37,0.162758,0.509,15.2657,0.161454,0.167163,9.760,0.038095,1,79,0.039,38.4,1238,0.297602,1
Texas,38,0.160103,0.532,11.1535,0.127692,0.252306,34.200,0.039631,1,34,0.039,59.8,1546,0.300538,1
Utah,39,0.163862,0.517,1.7368,0.017352,0.417907,3.450,0.000000,0,104,0.052,59.9,2035,0.319185,0
Virgina,40,0.168072,0.543,11.9782,0.222114,0.281749,10.400,0.032143,1,91,0.039,40.3,1593,0.277950,1
Washington,41,0.140109,0.537,3.0412,0.026258,0.193504,11.200,0.085714,0,199,0.067,53.6,2067,0.313700,1
Wisconsin,42,0.140883,0.547,0.8477,0.012195,0.377809,17.700,0.000000,0,101,0.029,55.5,1995,0.301385,0
West Virgina,43,0.162544,0.470,2.8339,0.057475,0.756579,4.590,0.032558,1,109,0.048,31.9,1840,0.303040,1
Wyoming,44,0.160476,0.569,2.8915,0.022442,0.357114,1.040,0.000000,0,117,0.043,49.8,2037,0.306737,0

The code below show us how to specify and estimate a benchmark model.

In [26]:
benchmark = 'M~1+PC+PX+T' #define the benchmark model 
reg01 = smf.ols(benchmark, data=m).fit()
reg01.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      M   R-squared:                       0.356
Model:                            OLS   Adj. R-squared:                  0.308
Method:                 Least Squares   F-statistic:                     7.370
Date:                Mon, 17 Oct 2016   Prob (F-statistic):           0.000481
Time:                        13:53:17   Log-Likelihood:                -118.07
No. Observations:                  44   AIC:                             244.1
Df Residuals:                      40   BIC:                             251.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     11.6980      1.832      6.385      0.000         7.995    15.401
PC            -6.6638      4.095     -1.627      0.112       -14.941     1.613
PX            11.0791      8.481      1.306      0.199        -6.061    28.219
T             -0.0383      0.009     -4.156      0.000        -0.057    -0.020
==============================================================================
Omnibus:                        4.692   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.096   Jarque-Bera (JB):                3.746
Skew:                           0.702   Prob(JB):                        0.154
Kurtosis:                       3.266   Cond. No.                     2.29e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Construct the list of variables that we want to add to the regression model.

In [24]:
varlist = m.columns.difference(['PC', 'PX', 'T', 'Index', 'M'])

Now we are ready

In [27]:
Rlist = [] #initiate a list to store R-squared. 
benchmark = 'M~1+PC+PX+T' 
for var in varlist: 
    tempm = benchmark+'+'+var #add variable 'var' into the specification. 
    tempsmf = smf.ols(tempm, data=m).fit() #estimate the new model. 
    Rlist.append( [var, tempsmf.rsquared, tempsmf.rsquared-reg01.rsquared]) #record the R^2

In [28]:
Rlist

[['AGE', 0.53309830573178807, 0.17712324295586002],
 ['LF', 0.39616849163393431, 0.040193428858006253],
 ['NW', 0.65896220506394698, 0.30298714228801893],
 ['POP', 0.36980201228814835, 0.013826949512220299],
 ['SOUTH', 0.66806772504062861, 0.31209266226470056],
 ['U', 0.40508669966301614, 0.049111636887088084],
 ['URB', 0.45163768462927834, 0.095662621853350283],
 ['W', 0.61677688925584362, 0.26080182647991557],
 ['X', 0.36747365290635281, 0.011498590130424757],
 ['XPOS', 0.46279850938667133, 0.10682344661074328]]

Input/Output (IO)
---------------
In the last example, we exposed a function that imports data stored in EXCEL into Python/pandas. We are not a position to to talk a little more about input and output. 

Most books in Python will start with the 'print' function for ouput.

In [29]:
print('What is your name?')

What is your name?

This doesn't allow us to enter an answer. Try 'input'

In [30]:
name = input('What is your name? ')

What is your name? Felix

The last name print the line 'What is your name' and store the response (as a string) into the variable called **name**. Now we can use **name** to construct a response.

In [31]:
print('Nice meeting you {0}!'.format(name))

Nice meeting you Felix!

This shows basic input and output functionality via *standard* I/O. To input data via file.

In [32]:
f = open('../data/estimate.txt') #open a file to be read. 
for i,line in enumerate(f): 
    print(line)
f.close()
print('The total number of line in this file is {0}'.format(i+1))

,coef,std err

c,11.6980,1.832

PC,-6.6638,4.095

PX,11.0791,8.481

T,-0.0383,0.009

The total number of line in this file is 5

As you can see, this text file contains the regression output of our benchmark model. It represents a typical output format from software, namely, a column of coefficients and a column of standard errors. A typical problem is to put each standard error under its corrresponding estimate, and possibly with a bracket around it. So the step is this
1. Import each line. 
2. Separate the coefficient and the standard error. 
3. For each row, put the standard error underneath the coefficient.

In [33]:
coeff = [] # list to store coefficients. 
std = [] #list to store standard errors
f = open('../data/estimate.txt') #open a file to be read. 
for i,line in enumerate(f):
    if i > 0: #ignore the first line. 
        temp = line.rstrip().split(',') #get rid of the next line character and split the line into a list with ',' being the spliter. 
        print(temp) #optional, demonstrate what 'split' does.         
        coeff.append([temp[0], temp[1]]) #store coefficient into coeff. 
        std.append(temp[2]) #store standard errors into std. 
f.close()

['c', '11.6980', '1.832']
['PC', '-6.6638', '4.095']
['PX', '11.0791', '8.481']
['T', '-0.0383', '0.009']

In [34]:
coeff

[['c', '11.6980'], ['PC', '-6.6638'], ['PX', '11.0791'], ['T', '-0.0383']]

In [35]:
std

['1.832', '4.095', '8.481', '0.009']

In [40]:
final = []
for i,c in enumerate(coeff):
    final.append(c)
    tempstd = '['+std[i]+']'
    final.append([' ',tempstd])

In [41]:
final

[['c', '11.6980'],
 [' ', '[1.832]'],
 ['PC', '-6.6638'],
 [' ', '[4.095]'],
 ['PX', '11.0791'],
 [' ', '[8.481]'],
 ['T', '-0.0383'],
 [' ', '[0.009]']]

Now we can write this back to a CSV!

In [39]:
s = '\n'.join([','.join([i for i in l]) for l in final]) #turn this into a string
f = open('../data/new_estimate.csv', 'w') #open a file to write
f.write(s)
f.close()

Users Defined Functions
-----------
For a bigger task, we sometimes want to reuse some of the code without having to write the whole thing again and again. Users defined functions allow us to reuse a block of code. This also allows us to break a big tasks into multiple smaller tasks. 

One example is to turn our problem above into a function. Let's say we need to put the standard errors under the coefficients from multiple outputs. We can first define a function that will do the rearrangement of table, then we can use a loop to go through all the output files. 

We can do this by defining three different functions. The first one opens the file and store the coefficients and standard errors.

In [29]:
def get_coef(filename):
    coeff = [] # list to store coefficients. 
    std = [] #list to store standard errors
    f = open(filename) #open a file to be read. 
    for i,line in enumerate(f):
        if i > 0: #ignore the first line. 
            temp = line.rstrip().split(',') #get rid of the next line character and split the line into a list with ',' being the spliter. 
            coeff.append([temp[0], temp[1]]) #store coefficient into coeff. 
            std.append(temp[2]) #store standard errors into std. 
    f.close()
    return coeff, std #returning the two lists.

In [30]:
def put_under(coef, std):
    final = [] #initiate the final list
    for i,c in enumerate(coef): #loop through the coefficient list
        final.append(c) #append the coefficints
        tempstd = [' '] #initiate a list to stored the modified standard errors
        temp = '('+std[i]+')' #put brackets around the stnadard errors
        tempstd.append(temp) #add the modified standard error row into the list. 
        final.append(tempstd) #add a new row. 
    return final #return the double list.

In [31]:
def writecsv(final, savefilename):
    s = '\n'.join([','.join([i for i in l]) for l in final]) #turn this into a string
    f = open(savefilename, 'w') #open a file to write
    f.write(s)
    f.close()

In [32]:
def rearranging(filename, savefilename):
    coef, std = get_coef(filename)
    final = put_under(coef, std)
    writecsv(final, savefilename)
    return coef, std, final

Let's test this on one file.

In [33]:
filename = '../data/estimate.txt'
sfilename = '../data/save_est.csv'
rearranging(filename, sfilename)

([['c', '11.6980'], ['PC', '-6.6638'], ['PX', '11.0791'], ['T', '-0.0383']],
 ['1.832', '4.095', '8.481', '0.009'],
 [['c', '11.6980'],
  [' ', '(1.832)'],
  ['PC', '-6.6638'],
  [' ', '(4.095)'],
  ['PX', '11.0791'],
  [' ', '(8.481)'],
  ['T', '-0.0383'],
  [' ', '(0.009)']])

Now, let's do it for all of them. 
First we generate all the filenames we need to apply the rearrangement for.

In [34]:
filelist = ['estimate'+str(i)+'.csv' for i in range(0,10)] #this is using list comprehension, which is a neat feature in Python
#You can use a standard for-loop

In [35]:
filelist

['estimate0.csv',
 'estimate1.csv',
 'estimate2.csv',
 'estimate3.csv',
 'estimate4.csv',
 'estimate5.csv',
 'estimate6.csv',
 'estimate7.csv',
 'estimate8.csv',
 'estimate9.csv']

then we generate a list of save file names

In [36]:
savefilelist = ['save_'+i for i in filelist]
savefilelist

['save_estimate0.csv',
 'save_estimate1.csv',
 'save_estimate2.csv',
 'save_estimate3.csv',
 'save_estimate4.csv',
 'save_estimate5.csv',
 'save_estimate6.csv',
 'save_estimate7.csv',
 'save_estimate8.csv',
 'save_estimate9.csv']

In [37]:
path = '../data/' 
for i,fn in enumerate(filelist): #loop through each file in filelist
    coef, std, final = rearranging(path+fn, path+savefilelist[i]) #apply modification to file and save it to a new file

Appendix
======
The code below shows you how I generated the test files with the coefficient estimates and the standard errors.

In [39]:
for i,var in enumerate(varlist): 
    tempm = benchmark+'+'+var #add variable 'var' into the specification. 
    tempsmf = smf.ols(tempm, data=m).fit() #estimate the new model. 
    header = [' ', 'coeffs','tstats']
    final = [header]
    for k, row in enumerate(tempsmf.model.exog_names):
        temp = [row, tempsmf.params[k], tempsmf.tvalues[k]]
        final.append(temp)
    s = '\n'.join([','.join([str(i) for i in l]) for l in final])
    savefilename = '../data/estimate'+str(i)+'.csv'
    f = open(savefilename, 'w')
    f.write(s)
    f.close()

Regular Expression
===============
Regular expression is an extremely powerful representation of patterned text. It has a solid foundation in theoretical computer science and formal language theory. For our purposes, it allows us to search through textfile when what we are looking for may not be exact, but rather, contains different variations. An example may be hyper links or email address for a particular organisations. 

Most text editors provide regular expression support. It also makes find/replace fairly easy. 

The demonstration here barely touches the surface of what RE can do. The aim is to convince you that RE is a useful skill that worth learning. In one of the examples, it also demonstrates how Python can be used to download the HTML code behind webpages. Combine with RE, it allows us to collect data via webpage very efficiently.

In [ ]:
import re as re #import the regular expression module

We start off by examining a data file first.

In [ ]:
m1 = pd.read_csv('../data/datastream_equities_201405.csv', header=0, index_col=0) #load data

In [ ]:
m1.head()

Let's assume we only want observations on a particular date of every year.

In [ ]:
reexp = '^23/06/[0-9]{4}'
re105 = re.compile(reexp)
dlist = [i for i,e in enumerate(m1.index) if re105.search(e) is not None]
sm = m1.iloc[dlist,:]

In [ ]:
sm

Let's take a look how RE can work with text file. Let's say we want to extract all the hyperlinks in a particular HTML file called *temp.html*.

We first define our regular expression, then we ask python to search through everyline in the file and return the line that contains a match. We save each of these lines in a list called *httplist*

In [ ]:
f = open('../data/temp.html')
reexp = 'http.*/"'
rehttp = re.compile(reexp)
httplist = [e for i,e in enumerate(f) if rehttp.search(e) is not None]
f.close()

In [ ]:
httplist

That's good but the lines also contain all the other code. We would like to extract just the hyper link addresses. To do that, we utilise the attributes witin RE.search object. Attribute **regs** contains the starting and ending positions of the string that matches the regular expression.

In [ ]:
f = open('../data/temp.html')
reexp1 = 'http.*/"'
rehttp1 = re.compile(reexp1)
addresslist = []
for i,e in enumerate(f):
    temp = rehttp1.search(e)
    if temp is not None:
        start = temp.regs[0][0]
        end = temp.regs[0][1]
        addresslist.append(temp.string[start:end])
f.close()

In [ ]:
addresslist

The address above combined both secured and not-secured link. Let's say we only want secure link. We can modify our regular expression to enusre there is no 's' after 'http'

In [ ]:
f = open('../data/temp.html')
reexp2 = 'http[^s].*/"'
rehttp2 = re.compile(reexp2)
addresslist = []
for i,e in enumerate(f):
    temp = rehttp3.search(e)
    if temp is not None:
        start = temp.regs[0][0]
        end = temp.regs[0][1]
        addresslist.append(temp.string[start:end])
f.close()

In [ ]:
addresslist

In [ ]:
f = open('../data/temp.html')
reexp3 = 'http[^s].+economics-and-finance.*/"'
rehttp3 = re.compile(reexp3)
addresslist = []
for i,e in enumerate(f):
    temp = rehttp3.search(e)
    if temp is not None:
        start = temp.regs[0][0]
        end = temp.regs[0][1]
        addresslist.append(temp.string[start:end])
f.close()

In [ ]:
addresslist

Let's say we want to find the names of the people who work for the School of Economics and Finance.  
In this case, we specify a web address, we then ask Python to download the HTML page. Then we extract the names of the people that were listed on the page.

In [ ]:
import urllib.request as ul

furl = ul.urlopen("http://business.curtin.edu.au/schools-and-departments/economics-and-finance/our-people/") #open a link to the HTML page. 
tempfile = "temp02.html" #The name of the file that we want to save the downloaded HTML. 
f = open(tempfile, 'w') #open a file to write.
f.write(furl.read().decode('utf-8')) #Save the HTML file to tempfile. 
f.close()
f = open(tempfile) #open the saved file for name extraction. 
re_name = re.compile("profile/view/[A-Za-z]+\.[A-Za-z]+") #define the regular expression. 
staffname = [] #initial the list to store the names. 
for i,line in enumerate(f):
    temp = re_name.findall(line) 
    if len(temp) > 0:
        temp1 = temp[0].split('/')
        staffname.append(temp1[-1])
f.close()
firstname = [i.split(".")[0] for i in staffname]  #separating last name and first name. 
surename = [i.split(".")[1] for i in staffname]
back = zip(firstname,surename)

In [ ]:
staffname

We have only just touched the surface of RE here. In fact, many implementations allow RE to have *conditional statement* and even *recursion* (a different form of loop). For more information, check out *[this site][regular]*. 
[regular]: http://www.regular-expressions.info/tutorial.html